/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/resources/views/vendor
/angular/angular
.angular
.idea
foo_modules/
package-lock.json
yarn.lock
sail
docker
watcher.js
watcher.json
watcher.json.example
tenhands.json
tenhands.json.example
